# Carpetas generadas por Unity (¡No se suben!)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Bb]uild/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

# Archivos autogenerados de Visual Studio y MonoDevelop
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos del sistema operativo (Windows y Mac)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db